# --- Private Data ---
backend-ml/data/
*.json

# --- Python ---
backend/venv/
backend/__pycache__/
__pycache__/
**/*.py[cod]
backend/*.pyc
backend/.env
backend/out/

# --- Node / Next.js ---
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
frontend/.env*.local

# --- Operating System / IDE ---
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log